@media only screen and (max-width: 576px) {
    .rocket_img_class {
        display:none!important;
    }
} 

@media only screen and (max-width: 505px) {
    .navbar-brand{
        margin:0!important;
        font-size:1rem!important;
    }
    .nav_custom{
        margin-right:0!important;
        margin-left:0!important;
    }
    .navbar-toggler{
        display:none;
    }
} 

@media only screen and (min-width: 505.1px) {
    .navbar-brand{
        margin-left:3rem!important;
    }
    .nav_custom{
        margin-right:2rem!important;
    }

} 

.reset{
    cursor: pointer;
}
.reset:hover{
    color: blue;
}

.jumbotron{
	height: 70vh!important;
}

.navbar-brand {
	cursor: pointer!important;
}

.login-register-button {
	flex: inherit!important;
}
.btn-outline-green {
	border-radius: 0!important;
}

.btn-outline-green:hover {
	color: white!important;
}

.btn-outline-navy:hover {
	color: #69e781!important;
}

$theme-colors: (
  "navy": #0b2239, //navy
  "green" : #69e781, //green
  "wthie" : white
);

$font-family-base: 'Lato';



@import url('https://fonts.googleapis.com/css?family=Lato');
@import "../node_modules/bootstrap/scss/bootstrap";
